Repository saint2706/Coding-For-MBA, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, dependencies, workflows, lessons, tools, notebooks, python

fix: ensure mkdocs build passes in strict mode
  .devcontainer/devcontainer.json
  .editorconfig
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/content_fix.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/lesson_improvement.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pull_request_template.md
  .github/workflows/docs.yml
  .github/workflows/links.yml
  .pre-commit-config.yaml
  CODEOWNERS
  CONTRIBUTING.md
  Makefile
  docs/contributing.md
  docs/faq.md
  docs/get-started.md
  docs/index.md
  docs/lessons/_index.md
  docs/phases/overview.md
  docs/phases/phase5.md
  docs/requirements-docs.txt
  mkdocs.yml
Labels: documentation, workflows

Potential fix for code scanning alert no. 70: Flask app is run in debug mode
  Day_34_Building_an_API/solutions.py
Labels: lessons, python

Potential fix for code scanning alert no. 68: Flask app is run in debug mode
  Day_50_MLOps/bonus_flask_api.py
Labels: lessons, python

Delete .github/workflows/links.yml
  .github/workflows/links.yml
Labels: workflows

Improve CI and lint workflows
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  Makefile
Labels: workflows

Add pytest-cov dependency for coverage configuration
  requirements.txt
Labels: dependencies

Load interactive widget assets globally
  mkdocs.yml
Labels: none

Configure MkDocs edit URI
  mkdocs.yml
Labels: none

Make progress tracker count lessons dynamically
  docs/javascripts/progress-tracker.js
Labels: documentation

Convert documentation tags heading to front matter
  docs/contributing.md
  docs/faq.md
  docs/get-started.md
  docs/index.md
  docs/lessons/_index.md
  docs/phases/overview.md
  docs/phases/phase1.md
  docs/phases/phase2.md
  docs/phases/phase3.md
  docs/phases/phase4.md
  docs/phases/phase5.md
  docs/phases/phase6.md
  docs/phases/phase7.md
Labels: documentation

Sync lesson table with interactive index
  README.md
  docs/lessons/_index.md
  generated/all_lessons.md
  generated/all_lessons_table.md
  scripts/verify_lessons.py
Labels: documentation, python

Highlight seven-phase journey on landing page
  docs/index.md
Labels: documentation

Fix lessons index titles and add docs footer snapshots
  docs/lessons/index.md
  docs/overrides/partials/footer.html
  requirements-dev.txt
  scripts/gen_lessons_index.py
  tests/snapshots/day-02-footer.html
  tests/snapshots/day-36-footer.html
  tests/snapshots/lessons-index-day-02-h3.html
  tests/test_docs_build.py
Labels: documentation, tests, dependencies, python

Add bilingual metadata and footer language switcher
  docs/overrides/partials/footer.html
  docs/stylesheets/extra.css
  mkdocs.yml
Labels: documentation

Organize lesson navigation by phase
  mkdocs.yml
Labels: none

Use stable Python 3.11 in CI workflows
  .github/workflows/ci.yml
  .github/workflows/deploy-certs.yml
  .github/workflows/docs-ci.yml
  .github/workflows/lint.yml
  .github/workflows/performance-benchmark.yml
Labels: workflows

Refactor CI workflows to reuse core checks
  .github/workflows/ci-core.yml
  .github/workflows/ci.yml
  .github/workflows/docs-ci.yml
Labels: workflows

Remove duplicate docs deployment
  .github/workflows/docs-ci.yml
Labels: workflows

Fix indentation in pre-commit configuration
  .pre-commit-config.yaml
Labels: none

Potential fix for code scanning alert no. 91: Incomplete URL substring sanitization
  scripts/add_binder_buttons.py
Labels: python

Improve resilience across GitHub workflows
  .github/workflows/ci-core.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-certs.yml
  .github/workflows/docs-ci.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/performance-benchmark.yml
Labels: workflows

Delete RESOLUTION_SUMMARY.md
  RESOLUTION_SUMMARY.md
Labels: documentation

Delete docs/ENHANCEMENTS.md
  docs/ENHANCEMENTS.md
Labels: documentation

Delete docs/before-after-comparison.md
  docs/before-after-comparison.md
Labels: documentation

Delete docs/dependency-review.md
  docs/dependency-review.md
Labels: documentation

Delete docs/jupyterlite-guide.md
  docs/jupyterlite-guide.md
Labels: documentation

Improve JupyterLite build integration
  .github/workflows/docs-ci.yml
  .github/workflows/docs.yml
  docs/requirements-docs.txt
  docs/website-improvements.md
  tools/integrate_jupyterlite.py
Labels: documentation, workflows, tools, python

Automate JupyterLite contents manifest
  docs/website-improvements.md
  jupyter_lite_config.json
  tools/integrate_jupyterlite.py
Labels: documentation, tools, python

Update website improvement roadmap statuses
  docs/website-improvements.md
Labels: documentation

Add Thebe integration for inline executable examples
  docs/get-started.md
  docs/javascripts/thebe-config.js
  docs/website-improvements.md
  mkdocs.yml
Labels: documentation

Fix duplicate lesson progress tracker
  docs/assets/js/progress.js
  docs/overrides/main.html
Labels: documentation

Add interactive exercise platform and Day 1 exercises
  TODO.md
  docs/interactive-exercises.md
  docs/javascripts/exercise-editor.js
  docs/stylesheets/exercise-widgets.css
  exercises/day-01-exercises.yml
  mkdocs.yml
Labels: documentation

Update learner_backend/static/dashboard.html
  learner_backend/static/dashboard.html
Labels: none

Update learner_backend/static/dashboard.html
  learner_backend/static/dashboard.html
Labels: none

Update learner_backend/static/dashboard.html
  learner_backend/static/dashboard.html
Labels: none

Update learner_backend/static/dashboard.html
  learner_backend/static/dashboard.html
Labels: none

Potential fix for code scanning alert no. 115: Module is imported with 'import' and 'import from'
  tests/test_security_validation.py
Labels: tests, python

Potential fix for code scanning alert no. 120: Unused import
  learner_backend/ratelimit.py
Labels: python

Update learner_backend/static/dashboard.html
  learner_backend/static/dashboard.html
Labels: none

Update learner_backend/static/dashboard.html
  learner_backend/static/dashboard.html
Labels: none

.github/labeler.yml:

# Configuration for the labeler GitHub Action
# See https://github.com/actions/labeler

documentation:
  - changed-files:
    - any-glob-to-any-file: ['docs/**', '**/*.md', 'README.md']

tests:
  - changed-files:
    - any-glob-to-any-file: ['tests/**', '**/test_*.py']

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['requirements*.txt', 'pyproject.toml']

workflows:
  - changed-files:
    - any-glob-to-any-file: ['.github/workflows/**']

lessons:
  - changed-files:
    - any-glob-to-any-file: ['Day_*/**']

tools:
  - changed-files:
    - any-glob-to-any-file: ['tools/**']

notebooks:
  - changed-files:
    - any-glob-to-any-file: ['**/*.ipynb']

python:
  - changed-files:
    - any-glob-to-any-file: ['**/*.py']
